# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.mypy_cache/
.pytest_cache/
.ruff_cache/
htmlcov/

# VS Code
.vscode/

# FastAPI specific
celerybeat-schedule
celerybeat.pid

# Environment variables
.env

.csv