version: '3.8'
services:
  db:
    image: postgres:16 # Using a specific version for stability
    restart: always
    environment:
      POSTGRES_DB: weather
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql/data # Persistent storage for database data
    networks:
      - app-network
  server:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./app:/code
    networks:
      - app-network
    depends_on:
      - db
networks:
  app-network:
volumes:
  db_data: